web/WEB-INF/wsdl/localhost_8084/WSProyecto/Contador.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ProyectoVanguardia/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ProyectoVanguardia/">

<xs:element name="Calculo" type="tns:Calculo" />

<xs:element name="CalculoResponse" type="tns:CalculoResponse" />

<xs:element name="PorLocal" type="tns:PorLocal" />

<xs:element name="PorLocalResponse" type="tns:PorLocalResponse" />

<xs:complexType name="PorLocal">
<xs:sequence>
<xs:element name="local" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="PorLocalResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Calculo">
<xs:sequence>
<xs:element name="rol" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>